{
    "required" : 
    {
        "broadcaster_name" : "aconstlink",
        "client_id": "a7ebd4ykebmz4zdegg2hm348pntpn2",
        "scopes": 
        [
            "moderator:manage:chat_messages",
            "moderator:manage:shoutouts",
            "moderator:manage:announcements",
            "channel:moderate",
            "channel:bot",
            "channel:manage:polls",
            "channel:read:goals",
            "user:manage:chat_color",
            "user:bot",
            "user:read:chat",
            "user:write:chat",
            "chat:read",
            "chat:edit",
            "whispers:read",
            "whispers:edit"
        ]
    },
    "optional" :
    {
        "bot_name" : "",
        "channel_name": "",
        "nick_name": "",
        "client_secret": ""
    },
    "internal" : 
    {
        "access_token": "",
        "device_code": "",
        "refresh_token": ""
    },
    "old_stuff" :
    {
        "bot_id" : "100043230",
        "broadcaster_id" : "100043230"
    }
}